.banner{
    display :flex;
    background-color: rgb(1, 108, 1);
    margin:2px;
    font-size:2em;
    justify-content: center;
    align-items: center;
    height:400px;
    gap:30px;
    border-radius:20px;
}

.banner .ban_text{
    border: 2px solid rgb(246, 171, 171);
    width:900px;
    height:350px;
    border-radius:20px;
    text-align:center;
}
.banner .ban_text button{
    margin:20px;
    padding:10px;
    font-size:12px;
    border-radius:10px;
    font-style:italic;
    color: rgb(17, 165, 178);
    cursor:pointer;
}
.banner .ban_text button:hover{
    background-color: rgb(17, 165, 178);
    color:white;
}
.banner img{
    width:300px;
    height:350px;
    border:2px solid rgb(59, 90, 199);
    border-radius:20px;

}
body{
    margin:0 5px;
    max-width:auto;
    justify-content: center;
    align-items: center;
}
.card_section{
    text-align: center;
    margin-top:20px;
}
.card_container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card{
    width:300px;
    border: 2px solid red;
    border-radius: 10px;
    padding:10px;
    margin: 20px;
}
.card h3{
    color:green;
    font-weight: 700;
}

.card :hover{
    box-shadow: 2px 2px 12px gray;
    background-color: skyblue;
}
.card button{
    margin:0px 100px;
    padding:10px 20px;
    font-size:12px;
    border-radius:10px;
    font-style:italic;
    color: rgb(17, 165, 178);
    cursor:pointer;
}
.card img{
    width:100%;
    border-radius:10px;
}