nav li{
    display: inline;
    margin-right: 15px;
    
}
nav li:hover{
    background-color: rgb(198, 231, 51);
}
nav li a{
    color: green;
    text-decoration: none;
}
table{
    border-collapse: collapse;

}
td,th{
    border: 1px solid blue;
    padding: 5px 70px 5px 5px ;
}
.container{
    margin:20px;
    border:2px solid black;
    gap:5px;
    display:flex;
    justify-content: center;
}
.item{
    margin:5px;
    display:inline-block;
    border:1px solid gray;
    padding:5px;  
}
.logo{
    margin:5px;
    border:1px solid red;
    padding:5px;
    margin-right:auto;
    margin-left:250px;   
}


